<section class="section">
  <div class="container">
    <h2 id="yachts" class="yacht-title">
      Choose your dream yacht and sail away into the sunset
    </h2>

    <ul class="yacht-thumb-list">
      <li class="yacht-thumb-item">
        <div class="yacht-wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/our-yachts/img-1-desk@1x-min.jpg 1x,
                ../img/our-yachts/img-1-desk@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/our-yachts/img-1-tab@1x-min.jpg 1x,
                ../img/our-yachts/img-1-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/our-yachts/img-1-mob@1x-min.jpg 1x,
                ../img/our-yachts/img-1-mob@2x-min.jpg 2x
              "
            />
            <img
              src="../img/our-yachts/img-1-mob@1x-min.jpg"
              class="img-yacht"
              alt="yact-1"
            />
          </picture>
          <div class="yacht-description-thumb">
            <div class="yacht-subtitle-wrap">
              <p class="yacht-subtitle-description">Arrow</p>
              <p class="yacht-subtitle-characteristics">LUXURY YAHTS</p>
            </div>
            <div class="yacht-description-list-wrapper">
              <ul class="yacht-description-list">
                <li class="yacht-description-item">LENGTH</li>
                <li class="yacht-description-item">BUILDER</li>
                <li class="yacht-description-item">BUILT</li>
                <li class="yacht-description-item">GUESTS</li>
                <li class="yacht-description-item">PRICE</li>
              </ul>
              <ul class="yacht-characteristic-list">
                <li class="yacht-characteristic-item">48m(155ft)</li>
                <li class="yacht-characteristic-item">Admiral</li>
                <li class="yacht-characteristic-item">2021</li>
                <li class="yacht-characteristic-item">11 in 5 cabins</li>
                <li class="yacht-characteristic-item">€33,500,000</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="yacht-thumb-item">
        <div class="yacht-wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/our-yachts/img-2-desk@1x-min.jpg 1x,
                ../img/our-yachts/img-2-desk@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/our-yachts/img-2-tab@1x-min.jpg 1x,
                ../img/our-yachts/img-2-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/our-yachts/img-2-tab@1x-min.jpg 1x,
                ../img/our-yachts/img-2-tab@2x-min.jpg 2x
              "
            />
            <img
              src="../img/our-yachts/img-2-tab@1x-min.jpg"
              class="img-yacht"
              alt="yact-2"
            />
          </picture>
          <div class="yacht-description-thumb">
            <div class="yacht-subtitle-wrap">
              <p class="yacht-subtitle-description">BENETTI OASIS 40M BO122</p>
              <p class="yacht-subtitle-characteristics">LUXURY YAHTS</p>
            </div>
            <div class="yacht-description-list-wrapper">
              <ul class="yacht-description-list">
                <li class="yacht-description-item">LENGTH</li>
                <li class="yacht-description-item">BUILDER</li>
                <li class="yacht-description-item">BUILT</li>
                <li class="yacht-description-item">GUESTS</li>
                <li class="yacht-description-item">PRICE</li>
              </ul>
              <ul class="yacht-characteristic-list">
                <li class="yacht-characteristic-item">41m (133ft)</li>
                <li class="yacht-characteristic-item">Benetti</li>
                <li class="yacht-characteristic-item">2025</li>
                <li class="yacht-characteristic-item">10 in 5 cabins</li>
                <li class="yacht-characteristic-item">€23,210,000</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="yacht-thumb-item">
        <div class="yacht-wrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/our-yachts/img-3-desk@1x-min.jpg 1x,
                ../img/our-yachts/img-3-desk@2x-min.jpg 2x
              "
            />

            <img
              src="../img/our-yachts/img-3-desk@1x-min.jpg"
              class="img-yacht"
              alt="yact-3"
            />
          </picture>
          <div class="yacht-description-thumb">
            <div class="yacht-subtitle-wrap">
              <p class="yacht-subtitle-description">BELLE ANNA</p>
              <p class="yacht-subtitle-characteristics">LUXURY YAHTS</p>
            </div>
            <div class="yacht-description-list-wrapper">
              <ul class="yacht-description-list">
                <li class="yacht-description-item">LENGTH</li>
                <li class="yacht-description-item">BUILDER</li>
                <li class="yacht-description-item">BUILT</li>
                <li class="yacht-description-item">GUESTS</li>
                <li class="yacht-description-item">PRICE</li>
              </ul>
              <ul class="yacht-characteristic-list">
                <li class="yacht-characteristic-item">50m(155ft)</li>
                <li class="yacht-characteristic-item">ISA</li>
                <li class="yacht-characteristic-item">2012</li>
                <li class="yacht-characteristic-item">12 in 6 cabins</li>
                <li class="yacht-characteristic-item">€21,000,000</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="main-button yacht-btn">
      <a href="#rent" class="yacht-btn-link">Yacht rental</a>
    </div>
  </div>
</section>
